apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-study-service
  namespace: cicd
spec:
  replicas: 5
  selector:
    matchLabels:
      app: cicd-study-service
  template:
    metadata:
      labels:
        app: cicd-study-service
    spec:
      containers:
        - name: app
          image: 759348358497.dkr.ecr.ap-northeast-1.amazonaws.com/ghcr.io/wuyang026/cicd-study-service:c8c6768c4d1f4bcb044b84c338e4f67f8675e19f
          ports:
            - containerPort: 8080
