apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-study-service
  namespace: cicd
spec:
  replicas: 5
  selector:
    matchLabels:
      app: cicd-study-service
  template:
    metadata:
      labels:
        app: cicd-study-service
    spec:
      containers:
        - name: app
          image: 759348358497.dkr.ecr.ap-northeast-1.amazonaws.com/ghcr.io/wuyang026/cicd-study-service:208801f374135e9b31fe990af16cb6ff0e72dae2
          ports:
            - containerPort: 8080
